{% load static %}
    <section class="featured-posts no-padding-top">
      <div class="container">

        {% for object in featured_posts %}
        <!-- Post-->
        <div class="row d-flex align-items-stretch">

          {% if not forloop.first and not forloop.last %}
          <!-- post image -->
          <div class="image col-lg-5">
            <img src="{{ object.thumbnail.url }}" alt="...">
          </div>
          <!-- end post image -->
          {% endif %}

          <!-- post text -->
          <div class="text col-lg-7">
            <div class="text-inner d-flex align-items-center">
              <div class="content">
                <header class="post-header">
                  
                  <!-- category -->
                  <div class="category">
                    {% for cat in object.categories.all %}
                    <a href="#">{{ cat.title|title }}</a>
                    {% endfor %}
                  </div>
                  <!-- end category -->

                  <a href="{% url 'posts:post_single' %}">
                    <h2 class="h4">{{ object.title|title }}</h2>
                  </a>
                </header>
                <p>{{ object.overview|slice:"200"}}</p>
                <footer class="post-footer d-flex align-items-center">
                  <a href="#" class="author d-flex align-items-center flex-wrap">
                    <div class="avatar">
                      <img src="{{ object.author.profile_picture.url }}" 
                        alt="..." class="img-fluid">
                      </div>
                    <div class="title">
                      <span>{{ object.author|title}}</span>
                    </div>
                  </a>
                  <div class="date">
                    <i class="icon-clock"></i>{{ object.timestamp|timesince|title }} ago
                  </div>
                  <div class="comments">
                    <i class="icon-comment"></i>{{ object.comment_count }}
                  </div>
                </footer>
              </div>
            </div>
          </div>
          <!-- post text -->

          {% if forloop.first or forloop.last %}
          <!-- post image -->
          <div class="image col-lg-5">
            <img src="{{ object.thumbnail.url }}" alt="...">
          </div>
          <!-- end post image -->
          {% endif %}

        </div>
        <!-- END Post -->
        {% endfor %}

      </div>
    </section>