{% load static %}
    <section class="latest-posts"> 
      <div class="container">
        <header> 
          <h2>Latest from the blog</h2>
          <p class="text-big">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </header>
        <div class="row">

          {% for object in latest_posts %}
          <!-- Latest post -->
          <div class="post col-md-4">
            <div class="post-thumbnail">
              <a href="post.html">
                <img src="{{ object.thumbnail.url }}" 
                  alt="..." class="img-fluid">
              </a>
            </div>
            <div class="post-details">
              <div class="post-meta d-flex justify-content-between">
                <div class="date">{{ object.timestamp }}</div>
                <div class="category">
                  <a href="#">{{ object.category }}</a>
                </div>
              </div><a href="post.html">
                <h3 class="h4">{{ object.title|title }}</h3></a>
              <p class="text-muted">{{ object.overview|slice:"200"|title }}</p>
            </div>
          </div>
          <!-- END Latest post -->
          {% endfor %}
        </div>
      </div>
    </section>