<!-- templates/index.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Blog{% endblock title%}

{% block content %}

    <div class="container">
      <div class="row">

        <!-- Latest Posts and Pagination-->
        <main class="posts-listing col-lg-8"> 
          <div class="container">

            <!-- Posts -->
            {% include 'blog/posts.html' %}

            <!-- Pagination -->
            {% include 'blog/pagination.html' %}

          </div>
        </main>
        <!-- END Latest Posts and Pagination -->

        <!-- Aside -->
        <aside class="col-lg-4">

          <!-- Search-->
          {% include 'blog/search.html' %}

          <!-- Latest posts-->
          {% include 'blog/latest-posts.html' %}

          <!-- Categories-->
          {% include 'blog/categories.html' %}

          <!-- Tags -->
          {% include 'blog/tags.html' %}

        </aside>
        <!-- END Aside -->

      </div>
    </div>

{% endblock content %}