<!-- templates/index.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title%}

{% block content %}

    <!-- Hero Section-->
    {% include 'home/hero.html' %}

    <!-- Intro Section-->
    {% include 'home/intro.html' %}

    <!-- Featured posts -->
    {% include 'home/featured-posts.html' %}

    <!-- Divider Section-->
    {% include 'home/divider.html' %}

    <!-- Latest Posts -->
    {% include 'home/latest-posts.html' %}

    <!-- Newsletter Section-->
    {% include 'home/newsletter.html' %}
    
    <!-- Gallery Section-->
    {% include 'home/gallery.html' %}

{% endblock content %}