{% load static %}
          <div class="widget latest-posts">
            <header>
              <h3 class="h6">Latest Posts</h3>
            </header>
            <div class="blog-posts">

              {% for object in posts_latest %}
              <!-- Latest post -->
              <a href="#">
                <div class="item d-flex align-items-center">
                  <div class="image">
                    <img src="{{ object.thumbnail.url }}" 
                    alt="..." class="img-fluid">
                  </div>
                  <div class="title"><strong>{{ object.title|title }}</strong>
                    <div class="d-flex align-items-center">
                      <div class="views"><i class="icon-eye"></i> {{ object.view_count }}</div>
                      <div class="comments"><i class="icon-comment"></i>{{ object.comment_count }}</div>
                    </div>
                  </div>
                </div>
              </a>
              <!-- END Latest post -->
              {% endfor %}
            </div>
          </div>